/*--AutoTS Forecast button--*/
/* border-color: #00aa9d; */
body > div > div > section > div:nth-child(4) > div > div > button {
     background-image: linear-gradient(to top, #d83f91, #d0409b, #c743a5, #bb47af, #ae4bb8);
     border-color: #0000C6;
}

body > div > div > section > div:nth-child(odd) > div > div > button:hover{
    transition: all 2s ease;
    transform: translateX(10px);
    cursor: pointer;
    box-shadow: -6px -9px 2px -2px #a5a5a5;
}

body > div > div > section > div:nth-child(even) > div > div > button:hover{
    transition: all 2s ease;
    transform: translateX(-10px);
    cursor: pointer;
    box-shadow: 8px 8px 2px -2px #a5a5a5;
}

.fa-bolt {
	color: yellow;
}
